/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

a,
a:hover {
  text-decoration: none;
}

body {
  min-width: 570px;
  line-height: 2.5;
  font-family: 'Work Sans', sans-serif;
}

.header {
  padding: 2.75rem 0;
  background-color: rgb(35,2,63);
}

.header h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 2.5rem;
  color: rgb(255,0,171);
  margin-top: 0;
  margin-bottom: 0;
}

#search-input {
  border-radius: 20px;
  margin-right: .5rem;
  border: none;
}

#search-button {
  background-color: rgb(255,0,171);
  text-align: center;
  border-radius: 20px;
}

#search-button:hover {
  background-color: rgb(255,102,204);
  cursor: pointer;
}

.fa-search {
  padding: .39rem;
  color: rgb(35,2,63);
}

.attributes {
  background-color: rgb(104,0,255);
  color: rgb(255,255,255);
  font-weight: 500;
}

#play-button {
  display: flex;
  align-items: center;
  color: rgb(255,0,171);
  vertical-align: middle;

}

#play-button i:hover {
  color: rgb(255,102,204);
  cursor: pointer;
}

.track {
  display: flex;
  align-items: center;
  background-color: rgb(255,255,255);
  color: rgb(74,74,74);
  font-size: 1rem;
  max-height: 5rem;
  border-bottom: 1px solid rgb(204,204,204);
}

.track:hover {
  background-color: rgb(239,237,242);
}

.album-art {
  height: auto;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
